<div class="container">

    <h1 class="mt-3">Edit Category</h1>
    <ng-container *ngIf="singleCategory;else notFound">
        <form #form="ngForm" (ngSubmit)="onFormSumbit()">
            <div class="mt-2">
                <div class="mt-3">
                    <label class="form-label" for="categoryId">Id</label>
                    <input 
                        class="form-control" 
                        type="text" 
                        name="categoryId" 
                        id="categoryId" 
                        value="{{singleCategory.id}}" 
                        disabled>
                </div>
                <div class="mt-3">
                    <label class="form-label" for="categoryName">Name</label>
                    <input 
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="singleCategory.name" 
                        name="categoryName" 
                        id="categoryName">
                </div>
                <div class="mt-3">
                    <label class="form-label" for="urlHandler">Url Handle</label>
                    <input 
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="singleCategory.urlHandler" 
                        name="urlHandler" 
                        id="urlHandler">
                </div>
                <div class="mt-3 d-flex">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger ms-3" (click)="onDelete()">Delete</button>

                </div>
            </div>
        </form>
    </ng-container>
    <ng-template #notFound>
        <div class="alert alert-warning" role="alert">
            Category Not Found!
        </div>
    </ng-template>
</div>
